
.thankyou-message-area{
    /* position: relative; */
    margin: 30px auto;
    width: 50vw;
    z-index: 2000000;
    background-color: white;
    text-align: center;
    font-size: 20px;
    /* border: #363535 1px solid; */
    /* border-radius: 30px; */
    /* box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5); */
}



/* モバイル用スタイル */
@media screen and (max-width: 480px) {

    .thankyou-message-area{
        width: 95%;
    }

}